{% extends 'blogapp/base.html' %}


{% block body %}
        <div class="jumbotron w-25 m-5 mx-auto ">
             <h2 class="">Signup</h2>
                <form action="{% url 'blogapp:signup' %}" method="POST">
                        {% csrf_token %}
                        
                        {{ form.as_p}}
                        
                        <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block" value="Signup">
                            
                        </div>

                </form>
        </div>
{% endblock body %}
        